<h1>Users#index</h1>
<h2>Show All users: </h2>

<% @users.each_with_index do |user, i| %>
    <h4><%= i+1 %>) User Id: <%= user.id %>  User Name: <%= user.name %> Posts Counter: <%= user.posts_counter %></h4>
    <h3>Bio: <%= user.bio %></h3>
<% end %>