<div class="post_header">

 <div class="ps-name">
    Post #<%= index + 1 %> 
  </div>
  <p class='ps-title'><%= link_to post.title, user_post_path(@user, post) %></p>
  <p><%= post.text %></p>
  <div class="ps-counters1">
    Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %>
  </div>
</div>