<h1>All posts for User #<%= @user.name %></h1>

<% @posts.each_with_index do |post, i| %>
    <h4><%= i+1 %>) Post Id: <%= post.id %>  Post Title: <%= post.title %> Comments Counter: <%= post.comments_counter %></h4>
    <h3>Text: <%= post.text %></h3>
<% end %>